<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Island Page</title>
</head>
<body>
    <h1>Storefront Page with Island</h1>

    {{ html | raw }}
    {{ html2 | raw }}

    <p>Some static content below the island.</p>

    <script type="module" src="/client/src/entry-client.ts"></script>
</body>
</html>