<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: "Admin" }}</title>
    {% assign entry_point_key = 'src/entry-admin.ts' %}
    {% render 'vite-head-assets'
      , entry_point_key: entry_point_key %}
  </head>
  <body>
    <div id="app"></div>
    {% render 'vite-body-script'
      , entry_point_key: entry_point_key %}
  </body>
</html>