<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "SSR" }}</title>
    {% assign entry_point_key = 'src/entry-client.ts' %}
    {% if prod %}
      {% assign entry = manifest[entry_point_key] %}
      {% if entry.file %}
        <script type="module" src="/{{ entry.file }}"></script>
      {% endif %}
      {% for css_file in entry.css %}
        <link rel="stylesheet" href="/{{ css_file }}" />
      {% endfor %}
    {% endif %}
  <!-- preload-links -->
  </head>

  <body>
    {% block %}
    {% endblock %}
    {% unless prod %}
      <script type="module" src="/client/{{ entry_point_key }}"></script>
    {% endunless %}
  </body>
</html>